*
!.gitignore
!.gitignore-generate.exe
!@babel
!@babel/core
!@babel/core/lib
!@babel/core/lib/config
!@babel/core/lib/config/files
!@babel/core/lib/config/files/plugins.js
!@nrwl
!@nrwl/eslint-plugin-nx
!@nrwl/eslint-plugin-nx/node_modules
!@nrwl/eslint-plugin-nx/node_modules/@nx
!@nrwl/eslint-plugin-nx/node_modules/@nx/eslint-plugin
!@nrwl/eslint-plugin-nx/node_modules/@nx/eslint-plugin/src
!@nrwl/eslint-plugin-nx/node_modules/@nx/eslint-plugin/src/utils
!@nrwl/eslint-plugin-nx/node_modules/@nx/eslint-plugin/src/utils/project-graph-utils.js
!@nrwl/eslint-plugin-nx/node_modules/nx
!@nrwl/eslint-plugin-nx/node_modules/nx/src
!@nrwl/eslint-plugin-nx/node_modules/nx/src/config
!@nrwl/eslint-plugin-nx/node_modules/nx/src/config/workspaces.js
!@nx
!@nx/eslint-plugin
!@nx/eslint-plugin/src
!@nx/eslint-plugin/src/utils
!@nx/eslint-plugin/src/utils/project-graph-utils.js
!@react-native
!@react-native/eslint-config
!@react-native/eslint-config/index.js
!@remix-run
!@remix-run/eslint-config
!@remix-run/eslint-config/index.js
!@remix-run/eslint-config/internal.js
!@remix-run/eslint-config/jest-testing-library.js
!@remix-run/eslint-config/node.js
!@typescript-eslint
!@typescript-eslint/eslint-plugin
!@typescript-eslint/eslint-plugin/dist
!@typescript-eslint/eslint-plugin/dist/rules
!@typescript-eslint/eslint-plugin/dist/rules/no-unused-vars.js
!@vue
!@vue/cli-plugin-babel
!@vue/cli-plugin-babel/node_modules
!@vue/cli-plugin-babel/node_modules/@babel
!@vue/cli-plugin-babel/node_modules/@babel/core
!@vue/cli-plugin-babel/node_modules/@babel/core/lib
!@vue/cli-plugin-babel/node_modules/@babel/core/lib/config
!@vue/cli-plugin-babel/node_modules/@babel/core/lib/config/files
!@vue/cli-plugin-babel/node_modules/@babel/core/lib/config/files/plugins.js
!@vue/eslint-config-typescript
!@vue/eslint-config-typescript/recommended.js
!@wordpress
!@wordpress/eslint-plugin
!@wordpress/eslint-plugin/configs
!@wordpress/eslint-plugin/configs/esnext.js
!babel-preset-react-app
!babel-preset-react-app/create.js
!babel-preset-react-app/dependencies.js
!eslint
!eslint-config-alloy
!eslint-config-alloy/index.js
!eslint-config-next
!eslint-config-next/index.js
!eslint-config-next/parser.js
!eslint-config-react-app
!eslint-config-react-app/base.js
!eslint-config-react-app/jest.js
!eslint-config-taro
!eslint-config-taro/index.js
!eslint-plugin-compat
!eslint-plugin-compat/node_modules
!eslint-plugin-compat/node_modules/browserslist
!eslint-plugin-compat/node_modules/browserslist/node.js
!eslint-plugin-import
!eslint-plugin-import/lib
!eslint-plugin-import/lib/ExportMap.js
!eslint-plugin-import/lib/rules
!eslint-plugin-import/lib/rules/no-duplicates.js
!eslint-plugin-import/node_modules
!eslint-plugin-import/node_modules/eslint-module-utils
!eslint-plugin-import/node_modules/eslint-module-utils/moduleVisitor.js
!eslint-plugin-jest
!eslint-plugin-jest/lib
!eslint-plugin-jest/lib/rules
!eslint-plugin-jest/lib/rules/no-deprecated-functions.js
!eslint-plugin-mdx
!eslint-plugin-mdx/lib
!eslint-plugin-mdx/lib/configs
!eslint-plugin-mdx/lib/configs/base.js
!eslint-plugin-testing-library
!eslint-plugin-testing-library/dist
!eslint-plugin-testing-library/dist/configs
!eslint-plugin-testing-library/dist/configs/recommended.js
!eslint/lib
!eslint/lib/cli-engine
!eslint/lib/cli-engine/cli-engine.js
!eslint/lib/cli.js
!eslint/lib/eslint
!eslint/lib/eslint/eslint.js
!eslint/lib/linter
!eslint/lib/linter/linter.js
!eslint/lib/options.js
!eslint/lib/rules
!eslint/lib/rules/no-unused-vars.js
!eslint/node_modules
!eslint/node_modules/@eslint
!eslint/node_modules/@eslint/eslintrc
!eslint/node_modules/@eslint/eslintrc/dist
!eslint/node_modules/@eslint/eslintrc/dist/eslintrc.cjs
!stylelint
!stylelint/lib
!stylelint/lib/getPostcssResult.mjs